{% extends 'main.html' %}  

{% block content %}
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Client:</h5>
			<hr>
			<a class="btn btn-outline-info  btn-sm btn-block" href="">Modifier le Client</a>
			<a class="btn btn-outline-danger  btn-sm btn-block" href="">Supprimer le Client</a>

		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Informations</h5>
			<hr>
			<p>Name: {{clientX.name}} </p>
			<p>Telephone: {{clientX.phone}} </p>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Total des Commandes</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px">{{total}}</h1>
		</div>
	</div>
</div>


<br>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<form method="get">

		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>
		</div>
	</div>

</div>
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Produit</th>
				
					<th>Order Date</th>
					<th>Status</th>
					<th>update</th>
					<th>Delete</th>
				</tr>

				{% for p in ordersList %}
				  <tr>
					<th>{{p.product}}</th>
					<th>{{p.date_create}}</th>
					<th>{{p.status}}</th>
					<th><a href="">update</a></th>
					<th><a href="">Status</a></th>
					

				  </tr>
				
				{% endfor %}

			</table>
		</div>
	</div>
</div>
{% endblock content %}

