{% extends 'main.html' %}

{% load static %}

{% block content %}

<div class="card">
    <div class="card-body">
        <form action ="" method="POST">
           {% csrf_token %}
              {{forms}}
            
            {% comment %} <h4>Client</h4>
            <select class="form-select">
                {% for c in forms.client  %}
                  <option value="c"> {{c}}<option>
                {% endfor %}
              </select>

              <h4>Product</h4>
              <select class="form-select">
                  {% for p in forms.product  %}
                  <option value="c">{{p}}<option>
                  {% endfor %}
                </select>

                <h4>Status</h>
                <select class="form-select">
                    {% for s in forms.status  %}
                    <option value="c">{{s}}<option>
                    {% endfor %}
                  </select> {% endcomment %}


            {% comment %} <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Client</label>
                    <select class="form-select" aria-label="Default select example">

                         
                         {% for c in forms.client  %}
                            <option>{{c}}</option>
                        {% endfor %} 
                        
                    </select>
            </div>

            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Product</label>
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                        
                        {% for p in forms.product  %}
                            <option>{{p}}</option>
                        {% endfor %}
                        
                    </select>
            </div>

            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Status</label>
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                        
                        {% for s in forms.status  %}
                            <option>{{s}}</option>
                        {% endfor %}
                        
                    </select>
            </div>
        
            <input type="submit" name="send" > {% endcomment %}
             <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-warning" type="submit">SUBMIT</button>
            </div> 

        
        </form>
    </div>
</div>

{% endblock content %}
